* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito Sans", sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    max-width: 1092px;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
}

.header {
    margin-bottom: 120px;
}

.header>.container {
    background: url('../images/banner-img.png') no-repeat;
    background-position: right top;
    background-size: contain;
}

.header__top {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 105px;
}

.header__top-logo {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    align-items: center;
}

.header__top-nav {
    display: flex;
    gap: 48px;
    justify-content: space-between;
    align-items: center;
    margin-right: 28px;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    color: rgba(34, 34, 34, 0.75);
}

.nav-link-active {
    color: #DAA520;
    font-weight: 800;
}

.btn-sign {
    padding: 9px 35px;
    border-radius: 8px;
    border: 1px solid #3E3F43;
    color: #3E3F43;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
}

.header__banner {
    background: url('../images/4-leaf-right.png') no-repeat;
    background-position: 65% bottom;
}

.banner__content {
    display: flex;
    justify-content: space-between
}

.banner__inner {
    display: flex;
    gap: 16px;
    margin-top: 50px;
    flex-direction: column;
    max-width: 504px;
}

.banner__inner-subtitle {
    color: #3E3F43;
    font-size: 36px;
    font-weight: 400;
    line-height: normal;
}

.banner__inner-title {
    color: #313235;
    font-size: 72px;
    font-weight: 700;
    line-height: normal;
}

.banner__inner-btn {
    width: 175px;
    height: 50px;
    text-align: center;
    padding-top: 14px;
    border-radius: 4px;
    background: #DAA520;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
}

.ban-img,
.about-img {
    width: 100%;
}

.about,
.work,
.categories,
.testimony {
    margin-bottom: 120px;
}

.about__top,
.work__top,
.categories__top,
.testimony__top {
    display: flex;
    margin-bottom: 65px;
}

.about__top-subtitle,
.work__top-subtitle,
.categories__top-subtitle,
.testimony__top-subtitle {
    display: flex;
    gap: 8px;
    align-items: center;
    position: relative;
    margin-right: 340px;
}

.about__top-subtitle::before,
.work__top-subtitle::before,
.categories__top-subtitle::before,
.testimony__top-subtitle::before {
    position: absolute;
    content: '';
    width: 316px;
    height: 1px;
    left: 257px;
    bottom: 45px;
    background-color: #000;
}

.sub {
    color: #3E3F43;
    font-size: 36px;
    font-weight: 700;
}

.title {
    color: rgba(34, 34, 34, 0.10);
    font-size: 72px;
    font-weight: 800;
    text-transform: uppercase;
}

.about__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.about__inner {
    display: flex;
    justify-content: space-between;
}

.first {
    gap: 78px;
}

.about__images-back {
    position: relative;
}

.about__images-back::before {
    position: absolute;
    content: '';
    left: -180px;
    bottom: -240px;
    background: url('../images/4-leaf-right.png')no-repeat;
    width: 390px;
    height: 390px;
}

.about__description_first {
    margin: 104px auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 450px;
}

.title-first {
    color: #3E3F43;
    font-size: 36px;
    font-weight: 800;
}

.about__description-title span {
    font-weight: 600;
}

.about__description-text {
    color: #000;
    font-size: 24px;
    font-weight: 600;
}

.second {
    gap: 115px;
}

.about__description_second {
    margin: 127px auto;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.title-second {
    color: #000;
    font-size: 36px;
    font-weight: 600;
}

.work {
    text-align: center;
}

.work__top-subtitle {
    margin-right: 81px;
}

.work__top-subtitle::before {
    width: 65px;
    left: 300px;
}

.work__inner {
    display: flex;
    margin-bottom: 64px;
    flex-wrap: wrap;
}

.work__description {
    display: flex;
    gap: 24px;
    flex-direction: column;
    position: relative;
}

.work__description:first-child::before {
    content: '1';
    position: absolute;
    top: 23px;
    left: 20px;
    color: rgba(249, 189, 189, 0.25);
    font-size: 96px;
    font-weight: 600;
}

.work__description:nth-child(2)::before {
    content: '2';
    position: absolute;
    top: 23px;
    left: 30px;
    color: rgba(249, 189, 189, 0.25);
    font-size: 96px;
    font-weight: 600;
}

.work__description:nth-child(3)::before {
    content: '3';
    position: absolute;
    top: 23px;
    left: 20px;
    color: rgba(249, 189, 189, 0.25);
    font-size: 96px;
    font-weight: 600;
}

.work__description:last-child::before {
    content: '4';
    position: absolute;
    top: 23px;
    left: 20px;
    color: rgba(249, 189, 189, 0.25);
    font-size: 96px;
    font-weight: 600;
}

.work__description-img {
    padding: 0 60px;
}

.work__description-text {
    color: #000;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.work__btn {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    width: 212px;
    height: 50px;
    border-radius: 4px;
    border: none;
    background: #DAA520;
}

.categories__top-subtitle {
    margin-right: 218px;
}

.categories__top-subtitle::before {
    width: 202px;
    left: 295px;
}

.categories__inner {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 56px;
}

.categories__description {
    display: flex;
    flex-direction: column;
    border-radius: 0 120px;
    height: 400px;
    width: 280px;
}

.categories__description:first-child,
.categories__description:nth-child(4) {
    background-color: #F9BDBD;
}

.categories__description:nth-child(2),
.categories__description:nth-child(5) {
    background-color: #F7DEA6;
}

.categories__description:nth-child(3) {
    background-color: #A8DCEC;
}

.categories__description-title {
    padding-top: 24px;
    padding-left: 16px;
    color: #3E3F43;
    font-size: 24px;
    font-weight: 800;
}

.categories__description-img {
    width: 100%;
}

.desk {
    max-width: 246px;
    max-height: 224px;
    margin-top: 31px;
    margin-bottom: 32px;

}

.chair {
    max-width: 165px;
    max-height: 235px;
    margin: 26px 57px;
}

.ware {
    max-width: 181px;
    max-height: 200px;
    margin: 44px 49px;
}

.shelf {
    max-width: 148px;
    max-height: 235px;
    margin: 27px 66px;
}

.electro {
    max-width: 235px;
    max-height: 139px;
    margin: 74px 22px;
}

.categories__description_shop {
    margin-bottom: 24px;
    margin-left: 130px;
}

.categories__description-shop {
    border: 1px solid #3E3F43;
    border-radius: 5px;
    padding: 8px 19px;
    color: #3E3F43;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.testimony__top {
    margin-bottom: 40px;
}

.testimony__top-subtitle {
    margin-right: 256px;
}

.testimony__top-subtitle::before {
    width: 240px;
    left: 290px;
}

.testimony__inner {
    display: flex;
    gap: 48px;
}

.testimony__images {
    display: flex;
    gap: 40px;
    padding-bottom: 60px;
}

.testimony__images-item {
    border-radius: 85px 0;
    box-shadow: 0 0 5px gray
}

.testimony__content {
    max-width: 384px;
    max-height: 280px;
    border: 1px solid #A8DCEC;
    border-radius: 0 75px;
}

.testimony__description {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    padding: 54px 16px;
}

.testimony__description>img {
    object-fit: none;
    object-position: top left;
}

.testimony__description-text {
    color: #3E3F43;
    font-size: 14px;
    font-weight: 600;
}

.testimony__description-customer {
    display: flex;
    gap: 10px;
}

.customer-name {
    max-width: 151px;
}

.swiper {
    margin-right: 100px;
}

.testimony__btn {
    position: absolute;
    bottom: 85px;
    left: 0px;
    right: 0px;
}

.swiper-button-next,
.swiper-button-prev {
    color: transparent;
}

.swiper-button-prev::before {
    content: url(../images/Arrow\ 1.svg);
    position: absolute;
    top: 21px;
    left: -5px;
    opacity: 0.5;
    transform: rotate(180deg);
}

.swiper-button-next::before {
    content: url(../images/Arrow\ 1.svg);
    position: absolute;
    top: 21px;
    right: -5px;
    opacity: 0.5;
}

.swiper-button-prev:hover::before,
.swiper-button-next:hover::before {
    opacity: 1;
}

.swiper-pagination {
    bottom: 40px;
    text-align: right;
}

.swiper-pagination-bullet {
    width: 40px;
    height: 8px;
    border-radius: 8px;
    background: #e5e5e5;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background: #DAA520;
}

.mail {
    margin-bottom: 34px;
}

.mail__inner {
    padding: 53px 10px;
    display: flex;
    align-items: center;
}

.mail__text {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    max-width: 493px;
}

.mail__form {
    display: flex;
}

.mail__form-address {
    width: 340px;
    padding: 10px;
    border-radius: 8px 0 0 8px;
    border: 1px solid #DAA520;
}

.mail__form-submit {
    background: #DAA520;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
}

.footer>.container {
    background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%), url(../images/footer.png) no-repeat;
    background-size: contain;
    background-position: right bottom;
}

.footer__inner {
    display: flex;
    gap: 52px;
    position: relative;
    margin-bottom: 45px;
}

.footer__inner::before {
    position: absolute;
    content: '';
    height: 1px;
    width: 708px;
    background-color: #c4c4c4;
    top: -24px;
    left: 0;
}

.footer__inner-contacts {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 192px;
}

.footer-logo {
    display: flex;
    gap: 8px;
    align-items: center;
}

.footer-info {
    color: #8D8D8D;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.first-row {
    color: #333;
    font-size: 18px;
    font-weight: 600;
    padding-top: 8px;
}

.footer__uni {
    text-align: center;
    color: #8D8D8D;
    font-size: 12px;
    font-weight: 600;
    padding-bottom: 24px;
}